:root {
  --accent: hsl(289, 21%, 30%);
  --accent-hover: hsl(289, 28%, 30%);
  --on-accent: white;
  --compliment: hsl(60, 100%, 50%);
  --compliment-hover: hsl(60, 100%, 60%);
  --on-compliment: hsl(289, 21%, 12%);
}

.use-dark-theme {
  --background: hsl(0, 0%, 10%);
  --surface: hsl(0, 0%, 5%);
  --input: hsl(0, 0%, 20%);
  --button-hover: hsl(0, 0%, 15%);
  --on-background: hsl(0, 0%, 100%);
  --on-surface: hsl(0, 0%, 100%);
  --on-input: hsl(0, 0%, 100%);
  --on-button-hover: hsl(0, 0%, 90%);
  --border-color: hsl(0, 0%, 90%);
  --border-highlight: hsl(0, 0%, 100%);
  --text-focus: yellow;
  --text-link: default;
}

.use-light-theme {
  --background: white;
  --surface: white;
  --input: hsl(289, 28%, 85%);
  --button-hover: hsl(289, 28%, 85%);
  --on-background: hsl(289, 21%, 12%);
  --on-surface: hsl(289, 21%, 12%);
  --on-input: hsl(289, 21%, 12%);
  --on-button-hover: hsl(0, 0%, 80%);
  --border-color: hsl(0, 0%, 50%);
  --border-highlight: hsl(0, 0%, 30%);
  --text-focus: hsl(215, 100%, 50%);
  --text-link: default;
}

body {
  background-color: var(--background);
  color: var(--on-background);
}

.surface {
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--surface);
  color: var(--on-surface);
}

.accent {
  background-color: var(--accent);
  color: var(--on-accent);
}

.compliment {
  background-color: var(--compliment);
  color: var(--on-compliment);
}

.surface {
  background-color: var(--surface);
  color: var(--on-surface);
  padding: 0.5rem;
  border-radius: 0.25rem;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
.title-1 {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 2.25rem;
  text-transform: none;
  letter-spacing: 0rem;
}

.title-2 {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 1.75rem;
  text-transform: none;
  letter-spacing: 0.015625rem;
}

.subtitle-1 {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: none;
  letter-spacing: 0rem;
}

.subtitle-2 {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 1.125rem;
  text-transform: none;
  letter-spacing: 0.03125rem;
}

.body-1 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1rem;
  text-transform: none;
  letter-spacing: 0.015625rem;
}

.body-2 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 0.875rem;
  text-transform: none;
  letter-spacing: 0.015625rem;
}

.text-button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.078125rem;
}

.caption {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 0.875rem;
  text-transform: none;
  letter-spacing: 0.025rem;
}

.label {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.875rem;
  text-transform: none;
  letter-spacing: 0.09375rem;
}

.input {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 0.875rem;
  text-transform: none;
  letter-spacing: 0.015625rem;
}

.exclude {
  display: none;
}

.include {
  display: block;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.collapse {
  visibility: collapse;
}

input {
  display: block;
  margin: 0.5rem 0;
  padding: 0.5rem 0.75rem;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  box-shadow: none;
  background-color: var(--input);
  color: var(--on-input);
  cursor: text;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.menubar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
}
.menubar a {
  vertical-align: middle;
  margin: 0 0.5rem;
  padding: 0.375rem;
  color: var(--accent);
  text-decoration: none;
}
.menubar a:hover {
  color: var(--text-focus);
  border-bottom: solid 0.125rem black;
}
.menubar .active {
  background-color: var(--accent);
  color: var(--on-accent);
}

.progressbar {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  height: 0.25rem;
  background-color: var(--accent);
  animation-name: progress;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes progress {
  0% {
    left: 0;
    right: 100vw;
  }
  50% {
    left: 0;
    right: 0;
  }
  100% {
    left: 100vw;
    right: 0;
  }
}

/*# sourceMappingURL=desktop.css.map */
