extend layout

block styles
    link(rel="stylesheet", href="styles/chiropractic.css")

block main
    #frame-1
        .section
            .title-1 About Chiropractic
            .body-1 Chiropractic is a licensed health care profession that focuses on disorders of the musculoskeletal system. Doctors of chiropractic provide conservative treatment options for back pain, neck pain, joint pain, and headaches. They are trained in all areas of patient care, with broad skills in examination, diagnosis, and treatment. Most focus on manual therapy, but may also offer therapeutic ultrasound, low-level laser, electrotherapy, rehabilitative exercise, acupuncture, or nutrition conseling.
            .subtitle-1 Manual Therapy
            .body-1 Manual therapy is a broad category including joint mobilization, traction, soft tissue manipulation, and therapeutic massage. While chiropractors utilize all of these, they specialize in spinal manipulation. Spinal maniplation involves the adjustment of dysfunctional spinal segments with quick, shallow thrusts for the purpose of reducing pain and increasing range of motion. A popping sound can sometimes occur with these adjustments, caused by a release of gas from inside the adjusted joint.
            .subtitle-1 Safety
            .body-1 Spinal manipulation performed by a licensed chiropractor is extremely safe. Subjects may experience mild soreness, stiffness, or aching after treatment. These mild side effects usually resolve within 24 hours and lessen with subsequent treatments. There are no severe risks associated with chiropractic, although 
            .dropdown
                .subtitle-1 Maintaining Health
                .material-icons keyboard_arrow_down
                .body-1 
            .dropdown
                .subtitle-1 Back and Neck Pain
                .material-icons keyboard_arrow_down
                .body-1 
            .dropdown
                .subtitle-1 Joint Pain and Arthritis
                .material-icons keyboard_arrow_down
                .body-1 
            .dropdown
                .subtitle-1 Headaches and Other Problems
                .material-icons keyboard_arrow_down
                .body-1 
    #frame-2
       
    #footer
            

block scripts