extend layout

block styles
    link(rel="stylesheet", href="styles/chiropractic.css")

block main
    // what is chiropractic good for?
    // how i got started
    // how does it work?
    #frame-1
        .section
            .title-1 About Chiropractic
            .body-1 Chiropractic is a health care profession that focuses on disorders of the musculoskeletal system. These disorders include back pain, neck pain, pain in the joints of the arms or legs, and headaches. Doctors of chiropractic (DCs) practice a conservative approach to health care that includes patient examination, diagnosis and treatment. DCs have broad diagnostic skills and are also trained to recommend therapeutic and rehabilitative exercises, as well as to provide nutritional, lifestyle and dietary counseling.
        .section
            .dropdown
                .subtitle-1 Mantaining Health
                .material-icons keyboard_arrow_down
                .body-1 
            .dropdown
                .subtitle-1 Treating Back and Neck Pain
                .material-icons keyboard_arrow_down
                .body-1 
            .dropdown
                .subtitle-1 Managing Joint Dysfunction and Arthritis
                .material-icons keyboard_arrow_down
                .body-1 
            .dropdown
                .subtitle-1 Supporting Pregnancy and Children
                .material-icons keyboard_arrow_down
                .body-1 
            .dropdown
                .subtitle-1 Supporting Athletes
                .material-icons keyboard_arrow_down
                .body-1 
    #frame-2
    #footer
            

block scripts