extend layout

block styles
    link(rel="stylesheet", href="styles/chiropractic.css")

block main
    // what is chiropractic good for?
    // how i got started
    // how does it work?
    #frame-1
        .section
            .title-1 About Chiropractic
            .body-1 Chiropractic is a health care profession that addresses disorders of the musculoskeletal system. These mostly include back pain, neck pain, joint pain, and headaches. Chiropractors take a conservative approach to healthcare, emhpasizing and supporting the body's ability to heal itself. Their focus on the prevention, diagnosis, and conservative management of pain can reduce or avoid the need for more risky and expensive treatments
            .body-1 Chiropractors are trained in all areas of patient care, with broad skills in examination, diagnosis, and treatment. Most chiropractors specialize in spinal manipulation, commonly called spinal adjustment. A spinal adjustment is a quck, shallow thrust applied to a dysfunctional spinal segment for the purpose of decreasing pain, increasing range of motion, and improving overall function. Most chiropractors will also adjust the joints of the arms and legs. Click here to learn more about how chiropractic adjustments work.
            .body-1 
        .section
            .dropdown
                .subtitle-1 Mantaining Health
                .material-icons keyboard_arrow_down
                .body-1 
            .dropdown
                .subtitle-1 Treating Back and Neck Pain
                .material-icons keyboard_arrow_down
                .body-1 
            .dropdown
                .subtitle-1 Managing Joint Dysfunction and Arthritis
                .material-icons keyboard_arrow_down
                .body-1 
            .dropdown
                .subtitle-1 Supporting Pregnancy and Children
                .material-icons keyboard_arrow_down
                .body-1 
            .dropdown
                .subtitle-1 Supporting Athletes
                .material-icons keyboard_arrow_down
                .body-1 
    #frame-2
    #footer
            

block scripts