extend layout

block styles
    link(rel="stylesheet", href="styles/chiropractic.css")

block main
    // what is chiropractic good for?
    // how i got started
    // how does it work?
    #frame-1
        .section
            .subtitle-1 What is chiropractic good for?
            .body-1 Chiropractic therapy is an effective treatment for back and neck pain. It may also be used in the management of headaches, although its efficacy is dependent of the type of headache being treated. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil excepturi nesciunt, sequi at vero quas atque, magnam voluptates hic rem maxime commodi! Repudiandae, rerum voluptate eius labore quam odit rem. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos ad, blanditiis sunt hic numquam expedita officiis, aliquam itaque quam est nesciunt distinctio doloremque facere iusto. Atque consequuntur distinctio reiciendis perferendis.
            .subtitle-1 How does it work?
            .body-1 Chiropractic therapy consists of fast, shallow impulses that are applied for the purpose of pain reduction and joint mobilization. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis, voluptatibus illo non obcaecati quae debitis dignissimos reprehenderit natus dolorem beatae similique mollitia reiciendis consequatur magni fugiat, harum vitae vero distinctio! Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati dolor ducimus eum veritatis, aliquam, dignissimos molestias fuga facilis est in quaerat numquam quos animi perferendis. Dicta magni accusantium fuga! Delectus.
        .section
            .dropdown
                .subtitle-1 Back Pain
                .material-icons keyboard_arrow_down
            .dropdown
                .subtitle-1 Neck Pain
                .material-icons keyboard_arrow_down
            .dropdown
                .subtitle-1 Joint Pain
                .material-icons keyboard_arrow_down
            .dropdown
                .subtitle-1 Headaches
                .material-icons keyboard_arrow_down
            

block scripts