extend layout

block styles
    link(rel="stylesheet", href="styles/chiropractic.css")

block main
    #frame-1
        .section
            .title-1 About Chiropractic
            .body-1 Chiropractic is a licensed health care profession that focuses on disorders of the musculoskeletal system. Doctors of chiropractic provide conservative treatment options for back pain, neck pain, joint pain, and headaches. They are trained in all areas of patient care, with broad skills in examination, diagnosis, and treatment.
            .subtitle-1 Services
            .body-1 Chiropractors specialize in spinal manipulation, the adjustment of dysfunctional spinal segments with quick, shallow thrusts for the purpose of reducing pain and increasing range of motion. They may also offer soft tissue manipluation, therapeutic ultrasound, low-level laser,  acupuncture, or electrotherapy. Most will recommend therapeutic exercises, along with lifestyle and diet modifications that support healing and promote overall health.
            .subtitle-1 Safety
            .body-1 Spinal manipulation performed by a licensed chiropractor is extremely safe, although subjects may experience mild soreness after treatment. This usually resolves within 24 hours and lessens with subsequent treatments. Despite its safety, spinal manipulation is not appropriate in some cases. Chiropractors are trained to identify these cases and to provide referals to the approprate health care providers.
            .subtitle-1 Coverage
            .body-1 Chiropractic is included in most health insurance plans. Coverage depends on the problem being treated. Contact your health insurance provider for more information.
        .section
            .dropdown
                .subtitle-1 Maintaining Health
                .material-icons keyboard_arrow_down
                .body-1 
            .dropdown
                .subtitle-1 Back and Neck Pain
                .material-icons keyboard_arrow_down
                .body-1 
            .dropdown
                .subtitle-1 Joint Pain and Arthritis
                .material-icons keyboard_arrow_down
                .body-1 
            .dropdown
                .subtitle-1 Headaches and Other Problems
                .material-icons keyboard_arrow_down
                .body-1 
    #frame-2
    // A first-line of defence against pain
    // Key statistics
    #footer
            

block scripts