extend layout

block styles
    link(rel="stylesheet", href="styles/chiropractic.css")

block main
    #frame-1
        .section
            .title-1 About Chiropractic
            .body-1 Chiropractic is a licensed health care profession that focuses disorders of the musculoskeletal system. Doctors of chiropractic provide conservative treatment options for back pain, neck pain, joint pain, and headaches. They are trained in all areas of patient care, with broad skills in examination, diagnosis, and treatment.
        .section
            .dropdown
                .subtitle-1 Mantaining Health
                .material-icons keyboard_arrow_down
                .body-1 
            .dropdown
                .subtitle-1 Treating Back and Neck Pain
                .material-icons keyboard_arrow_down
                .body-1 
            .dropdown
                .subtitle-1 Managing Joint Dysfunction and Arthritis
                .material-icons keyboard_arrow_down
                .body-1 
            .dropdown
                .subtitle-1 Supporting Pregnancy and Children
                .material-icons keyboard_arrow_down
                .body-1 
            .dropdown
                .subtitle-1 Supporting Athletes
                .material-icons keyboard_arrow_down
                .body-1 
    #frame-2
        .subtitle-1 My Chiropractic
        .body-1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam aut atque debitis a ipsum inventore fugiat dolores repellat, consequatur eaque expedita dolore omnis explicabo totam asperiores? Quos, cumque voluptatibus? Autem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est voluptates beatae alias maxime? Deserunt veritatis minima nemo totam incidunt? Debitis dicta ipsa ullam accusamus ducimus? Asperiores voluptatem sunt qui!
    #footer
            

block scripts