extend layout

block styles
    link(rel="stylesheet", href="styles/home.css")

block main
    #frame-1
        .text
            .title-1 Hi there! My name is Tyler.
            .subtitle-1 I'm a chiropractic student interested in bulding web-based healthcare tools.
        .image
    #frame-2
        .column
            .material-icons-outlined school
            .subtitle-1 Education
            .body-1 I am a student at Life University in Marietta, Georgia. I recieved my Bachelor of Science in Biology in 2019, and I expect to complete my Doctor of Chiropractic degree program in the Spring of 2023.
        .column
            .material-icons-outlined work_outline
            .subtitle-1 Experience
            .body-1 I currently work as an student intern at East Cobb Spine and Sport Chiropractic under the direction of Dr. Bob Bacon, DC. In my off hours, I work as a concierge for the Life University Procurement Office. 
        .column
            .material-icons-outlined interests
            .subtitle-1 Interests
            .body-1 I become deeply interested in web development in 2020. I have since developed proficiency inside of the Node environment.
        .column
            .material-icons-outlined emoji_events
            .subtitle-1 Goals
            .body-1 
    #frame-3
