extend layout

block styles
    link(rel="stylesheet", href="styles/home.css")

block main
    #frame-1
        .title-1 Hi there! My name is Tyler.
        .subtitle-1 I am a chiropractic student, with interest in health information technology. I develop for the web during my free time, and do magic tricks too (although that's neither here nor there).

    #frame-3

block scripts