extend layout

block styles
    link(rel="stylesheet", href="styles/home.css")

block main
    #frame-1
        .title-1 Hi there! My name is Tyler.
        .subtitle-1 
            div I am an inventive chiropractic student 
            div with an interest in bulding web-based tools for chiropractors.
    #frame-2
        .column
            .subtitle-1 Education
            .body-1 I recieved my Bachelor of Science in Biology from Life University in Marietta, Georgia, the alma mater of my mother Dr. Nichole Nygren, DC. I am now in the fourth year of Doctor of Chiropractic program, expecting to graduate in March 2022.
        .column
            .subtitle-1 Career
            .body-1
        .column
            .subtitle-1
            .body-1
        .column
block scripts