extend layout

block styles
    link(rel="stylesheet", href="styles/home.css")

block content
    section#introduction.halves
        .half
            .title-1 Hi there! I'm Tyler.
            .body-1 I'm a third generation chiropractic student with interest in developing web-based tools for chiropractors. I am also a casual runner, a coffee aficionado, and a spaceflight enthsiast. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit et porro rerum ab. Amet suscipit eum, tenetur error ipsum laborum tempore sapiente sunt maiores porro, mollitia praesentium perferendis atque doloribus.
            .row-reverse
                .glyph(style="background-image: url(./glyphs/facebook.svg);")
                .glyph(style="background-image: url(./glyphs/twitter.svg);")
                .glyph(style="background-image: url(./glyphs/instagram.svg);")
                .glyph(style="background-image: url(./glyphs/linkedin.svg);")
                .glyph(style="background-image: url(./glyphs/github.svg);")
        .half.grid--6x6
            .image.item--large(style="background-image: url(./photos/tyler.jpg);")
            .image.item--tall(style="background-image: url(./photos/tyler.jpg);")
            .image.item--wide(style="background-image: url(./photos/tyler.jpg);")
            .image.item--medium(style="background-image: url(./photos/tyler.jpg);")
    section#resume.quarters
        .quarter
            .material-icons-outlined school
            .subtitle-1 Education
            details Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed deserunt vitae vel velit tempore itaque quo, eligendi sapiente voluptates? Voluptates itaque iste dolorum velit ipsa nostrum sunt, sapiente facere consectetur!
                summary Doctor of Chiropractic (2022)
            details 
                summary Bachelor of Science in Biology (2019)
            details 
                summary High School Diploma (2017)
        .quarter
            .material-icons-outlined work_outline
            .subtitle-1 Experience
            details 
                summary East Cobb Spine and Sport Chiropractic
            details 
                summary Life University Clinic System
            details 
                summary Life University Procurement Office
            details 
                summary Starbucks Corporation
        .quarter
            .material-icons-outlined interests
            .subtitle-1 Interests
            details 
                summary Web Development
            details 
                summary Magic Tricks
            details 
                summary Electronics
            details 
                summary Coffee
            details 
                summary Spaceflight
        .quarter
            .material-icons-outlined map
            .subtitle-1 Plan
            details 
                summary Career
            details 
                summary Family
            details 
                summary Community
            details 
                summary Projects