extend layout

block styles
    link(rel="stylesheet", href="styles/home.css")

block main
    #frame-1
        .title-1 Hi there! My name is Tyler.
        .subtitle-1 
            div I am an inventive chiropractic student 
            div with an interest in bulding web-based tools for chiropractors.
    #frame-2
        .column
            .subtitle-1 Education
            .body-1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint aliquam eligendi, ducimus et dolores praesentium est molestiae sapiente tempora accusamus illo? Natus quis corrupti asperiores libero debitis molestias similique ab.
        .column
            .subtitle-1 Experience
            .body-1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Id itaque quaerat totam dolorum adipisci nesciunt odio, unde molestias? Voluptas minima, assumenda illum iusto hic quis exercitationem voluptates numquam eos labore.
        .column
            .subtitle-1 Interests
            .body-1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus illo placeat doloribus tempore nemo dignissimos ea repellendus maxime. Sint, nemo. Eligendi, laboriosam maiores? Accusantium voluptates doloremque magnam, id animi perspiciatis.
        .column
            .subtitle-1 Goals
                .body-1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus illo placeat doloribus tempore nemo dignissimos ea repellendus maxime. Sint, nemo. Eligendi, laboriosam maiores? Accusantium voluptates doloremque magnam, id animi perspiciatis.
            .column