extend layout

block styles
    link(rel="stylesheet", href="styles/home.css")

block content
    section#summary
        #bio
            .title-1 Hi there!
            .body-1 I'm Tyler. I am a third generation chiropractic student planning to join and continue my family's practice. In my free time, I work to develop a web-based health record system for chiropractors. I am an avid space flight enthusiast and something of a coffee aficionado.
            .body-1 Oh, and I do magic tricks.
            .row-reverse
                a.glyph(href="https://www.facebook.com/nygren.tyler/" style="background-image: url(./glyphs/facebook.svg);")
                a.glyph(href="https://twitter.com/nygren_tyler" style="background-image: url(./glyphs/twitter.svg);")
                a.glyph(href="https://www.instagram.com/nygren.tyler/" style="background-image: url(./glyphs/instagram.svg);")
                a.glyph(href="https://www.youtube.com/channel/UCmQ5NEJYQ8u_b4vADh6crmg" style="background-image: url(./glyphs/youtube.svg);")
                a.glyph(href="https://github.com/tylernygren" style="background-image: url(./glyphs/github.svg);")
        #headshot
            .image(style="background-image: url(./photos/tyler.jpg);")
    section#details
        section
            .material-icons-outlined school
            .subtitle-2 Education
            .body-2 I received my Bachelor of Science in Biology from Life University in 2019. I am now in my final year of the Doctor of Chiropractic (DC) program offered by the same university. The DC program lasts four years, culminating in 18 months supervised clinical experience. For my final preceptorship, I am working under the direction Dr. Bob Bacon, DC. I has passed three of the four national board exams, with the final exam scheduled for later this year. My state licensing exams will take place after graduation in March.
        section
            .material-icons-outlined work_outlined
            .subtitle-2 Career
            .body-2 I plan to work as a chiropractor alongside my mother in Van Wert, Ohio. Chiropractic is a licensed health care profession that focuses on disorders of the musculoskeletal system. Doctors of chiropractic provide conservative treatment options for back pain, neck pain, joint pain, and headaches. They are trained in all areas of patient care, with broad skills in examination, diagnosis, and treatment. Chiropractors specialize in spinal manipulation, the adjustment of dysfunctional spinal segments with quick, shallow thrusts. Adjustments are done to reduce pain, increase range of motion, and to improve overall function.
        section
            .material-icons-outlined interests
            .subtitle-2 Interests
            .body-2 I began learning JavaScript as a hobby in early 2020, and quickly discovered the immense developer community and its many educational resources. By the end of the year I had developed basic proficiency with the Node runtime environment. In 2021, I shifted from building games and websites and began to focus on developing useful tools. I am currently building a web-based health record system for chiropractors.
        section
            .material-icons-outlined people
            .subtitle-2 Family
            .body-2 I am the son of Adam and Nichole Nygren. I have one sister, who is now a sophomore at Bowling Green State University. I am fortunate to have enabling and supportive parents, and I am excited to work closely with them in the future. My grandparents continue to have an active role in my life. I am in a relationship with Barbora Kocsisova.
block scripts
    script(src="/scripts/home.js") 