extend layout

block styles
    link(rel="stylesheet", href="styles/home.css")

block main
    #frame-1
        .text
            .title-1 Hi there! I'm Tyler.
            .subtitle-1 I'm a chiropractic student interested in developing web-based tools for chiropractors. This site has details about myself and the things I care about.
            .social
                .glyph(style="background-image: url(glyphs/facebook.svg")
                .glyph(style="background-image: url(glyphs/twitter.svg")
                .glyph(style="background-image: url(glyphs/instagram.svg")
                .glyph(style="background-image: url(glyphs/linkedin.svg")
                .glyph(style="background-image: url(glyphs/github.svg")
                .glyph(style="background-image: url(glyphs/youtube.svg")
        .image(style=" background-image: url(../photos/tyler.jpg);")
    #frame-2
        .column
            .material-icons-outlined school
            .subtitle-1 Education
            .body-1 I study chiropractic at Life University in Marietta, Georgia. I recieved my Bachelor of Science in Biology in 2019, and I expect to complete my Doctor of Chiropractic degree in spring 2023. I have completed and passed three of four national board exams, with the final exam scheduled for winter 2022. I am a 2017 graduate of Van Wert High School and a beneficiary of Ohio's College Credit Plus program.
        .column
            .material-icons-outlined work_outline
            .subtitle-1 Experience
            .body-1 I work as an intern at East Cobb Spine and Sport Chiropractic under the direction of Dr. Bob Bacon, DC. This position is a six month preceptorship that follows a 12 month internship at the Life University Center for Health and Optimum Performance. In my off hours, I work as a concierge for the Life University Procurement Office. My previous work experience has been customer facing, with positions in food service and sales.
        .column
            .material-icons-outlined interests
            .subtitle-1 Interests
            .body-1 I am interested in web development. I began learing inside of the Node environment in early 2020, and I am now working to develop web-based tools for chiropractors. I have also chosen to rediscover sleight-of-hand, my childhood hobby. I enjoy the challenges that these hobbies present and the communities that surround them. I am also a casual runner, coffee aficionado, and spaceflight enthsiast.
        .column
            .material-icons-outlined map
            .subtitle-1 Plan
            .body-1 I will return home to Ohio in April of 2023, where I will begin working with my mother at Nygren Chiropractic and Acupuncture. Shortly thereafter, I will pursue the additional education and licensure required to practice acupuncture.
    #frame-3
        .grid
            .item--wide(style="background-image: url(../photos/family+ski.jpg)")
            .item
            .item(style="background-image: url(../photos/tyler+mom.jpg)")
        .text
            .title-1 My Family
            .dropdown
                .subtitle-1 Parents
                .material-icons keyboard_arrow_down
                .body-1(class="exclude") My father retired from his carrer as a corporate sales representative of ABF Freight in late 2008. He divides his time now serving as a paraprofessional with Van Wert City Schools and working as a leader for the Hopewell Project.
                .body-1(class="exclude") My mother is in her twenty-third year of practice as a chiropractor in Van Wert, Ohio. She graduated from Life University in 1998, and returned to Ohio to work as an associate of her father, Dr. Terry Rainey, DC.
            .dropdown
                .subtitle-1 Sister and Cousins
                .material-icons keyboard_arrow_down
                .body-1(class="exclude") My sister is now a sophomore at Bowling Green State University.
            .dropdown
                .subtitle-1 Grandparents
                .material-icons keyboard_arrow_down
                .body-1(class="exclude")
            .dropdown
                .subtitle-1 Aunts and Uncles
                .material-icons keyboard_arrow_down
                .body-1(class="exclude")
    #footer
        .material-icons info


                

        