extend layout

block styles
    link(rel="stylesheet", href="styles/home.css")

block main
    #spotlight
        .body-1 Student by day
        .body-1 Developer by night
        .body-1 Magician at children's parties

block scripts