doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="")
        meta(name="keywords", content="")

        // tab
        title #{title} | Tyler Nygren
        //- link(rel="shortcut icon", href=`icons/${ icon }.svg`, type="svg+xml")

        // stylesheets
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(rel="stylesheet", href="styles/theme.css")
        link(rel="stylesheet", href="styles/desktop.css", media="screen and (min-width: 1200px)")
        //- link(rel="stylesheet", href="styles/tablet.css", media="screen and (min-width: 400px) and (max-width: 1200)")
        //- link(rel="stylesheet", href="styles/mobile.css", media="screen and (max-width: 400px)")
        block styles

        //scripts
        script(defer src="/__/firebase/8.7.0/firebase-app.js")
    body
        .progressbar.hide
        .menubar
            a.subtitle-1.active(href="/about" style="order: 6;") Bio
            a.subtitle-1(href="/career" style="order: 5;") Chiropractic
            a.subtitle-1(href="/interests" style="order: 4;") Web Development
            a.subtitle-1(href="/shows" style="order: 3;") Magic Tricks
            a.subtitle-1(href="/contact" style="order: 1;") Contact
        
        block main
        .scroll-prompt
            .material-icons keyboard_arrow_down
        .site-info
            .material-icons info

        block scripts