doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="")
        meta(name="keywords", content="")

        // tab
        title #{title} | Tyler Nygren
        //- link(rel="shortcut icon", href=`icons/${ icon }.svg`, type="svg+xml")

        // stylesheets
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet")
        link(rel="stylesheet", href="styles/theme.css")
        link(rel="stylesheet", href="styles/layout.css")
        block styles

        //scripts
        script(defer src="/__/firebase/8.7.0/firebase-app.js")
    body.use-light-theme
        #progressbar.hide
        nav#menubar
            a.subtitle-1.active(href="/" style="order: 6;") About
            //- a.subtitle-1(href="/chiropractic" style="order: 5;") Chiropractic
            //- a.subtitle-1(href="/web+development" style="order: 4;") Web Development
            //- a.subtitle-1(href="/magic+tricks" style="order: 3;") Magic Tricks
            //- a.subtitle-1(href="/contact" style="order: 1;") Contact
        main
            block content
        //- #scrim
        //-     form#contact.hide
        //-         .label From
        //-         input(name="sender")
        //-         .label Message
        //-         textarea(name="message")
        //-         .buttons
        //-             button
        //-                 .spacer
        //-                 .material-icons cancel
        //-                 span Cancel
        //-                 .spacer
        //-             button.accent
        //-                 .spacer
        //-                 .material-icons send
        //-                 span Send
        //-                 .spacer
        footer
            .material-icons-outlined info
            .body-2 Made by Tyler Nygren | September 2021

        script(src="/scripts/layout.js")
        block scripts