@import 'functions';

@mixin button{
    color: inherit;
    text-shadow: none;
    cursor: pointer;
    background-color: inherit;
    box-shadow: none;
    margin: rem(4);
    border-width: 0;
    border-style: solid;
    border-color: inherit;
    border-radius: 0;
    font-family: var(--text-font);
    font-weight: 500;
    font-size: rem(14);
    text-transform: uppercase;
    letter-spacing: rem(1.25);
    cursor: pointer;
}
.text-button{
    @include button;
}
