@import 'functions';
.menubar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: rem(48);
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;

    a{
        vertical-align: middle;
        margin: 0 rem(8);
        padding: rem(6);
        color: var(--accent);
        text-decoration: none;
        cursor: pointer;
        &:hover{
            border-bottom: solid rem(2) (--accent);
        }
    }
    .active{
        background-color: var(--accent);
        color: var(--on-accent);
        border-bottom: solid rem(2) (--accent);
        &:hover{
            background-color: var(--accent-highlight);
            color: var(--on-accent);
        }
    }
}