@import 'functions';

//COLORS

:root{
    --accent: hsl(289, 21%, 30%);
    --accent-hover: hsl(289, 28%, 30%);
    --on-accent: white;
}
.use-dark-theme {
    --background: hsl(0, 0%, 10%);
    --surface: hsl(0, 0%, 5%);
    --input: hsl(0, 0%, 20%);
    --button-hover: hsl(0, 0%, 15%);
    --on-background: hsl(0, 0%, 100%);
    --on-surface: hsl(0, 0%, 100%);
    --on-input: hsl(0, 0%, 100%);
    --on-button-hover: hsl(0, 0%, 90%);
    --border-color: hsl(0, 0%, 90%);
    --border-highlight: hsl(0, 0%, 100%);
    --text-focus: yellow;
    --text-link: default;
}
.use-light-theme{
    --background: white;
    --surface: white;
    --input: hsl(289, 28%, 85%);
    --button-hover: hsl(289, 28%, 85%);
    --on-background: hsl(289, 21%, 12%);
    --on-surface: hsl(289, 21%, 12%);
    --on-input: hsl(289, 21%, 12%);
    --on-button-hover: hsl(0, 0%, 80%);
    --border-color: hsl(0, 0%, 50%);
    --border-highlight: hsl(0, 0%, 30%);
    --text-focus: hsl(215, 100%, 50%);
    --text-link: default;
}
body{
    background-color: var(--background);
    color: var(--on-background);
}
.surface{
    padding: rem(8);
    border-radius: rem(4);
    background-color: var(--surface);
    color: var(--on-surface);
}
.accent{

}

//FONTS

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@mixin font($type, $weight, $size, $case, $spacing){
    font-family: $type;
    font-weight: $weight;
    font-size: rem($size);
    text-transform: $case;
    letter-spacing: rem($spacing);
}

$title-font: 'Open Sans';
$text-font: 'Roboto';

.title-1{
    @include font($title-font, 500, 36, none, 0);
}
.title-2{
    @include font($title-font, 500, 28, none, 0.25);
}
.subtitle-1{
    @include font($title-font, 500, 24, none, 0);
}
.subtitle-2{
    @include font($title-font, 500, 18, none, 0.5);
}
.body-1{
    @include font($text-font, 500, 16, none, 0.25);
}
.body-2{
    @include font($text-font, 500, 14, none, 0.25);
}
.text-button{
    @include font($text-font, 500, 14, uppercase, 1.25);
}
.caption{
    @include font($text-font, 500, 14, none, 0.4);
}
.label{
    @include font($text-font, 400, 14, none, 1.5);
}
.input{
    @include font($text-font, 500, 14, none, 0.25);
}

// EXCLUDE & HIDE

.exclude{
    display: none;
}
.include{
    display: block;
}
.hide{
    visibility: hidden;
}
.show{
    visibility: visible;
}
.collapse{
    visibility: collapse;
}

// COMPONENTS

@import 'alert';
@import 'button';
@import 'calendar';
@import 'chat';
@import 'checkout';
@import 'clock';
@import 'dialog';
@import 'form';
@import 'gallery';
@import 'image';
@import 'input';
@import 'list';
@import 'menubar';
@import 'progressbar';
@import 'searchbar';
@import 'slider';
@import 'storefront';
@import 'table';
@import 'upload';
@import 'video';

