@import 'functions';

.title-1, .tile-2{
    margin-bottom: rem(18);
}
.subtitle-1, .subtitle-2{
    margin-bottom: rem(12);
}
.body-1, .body-2{
    margin-bottom: rem(8);
}

.scroll-prompt{
    position: fixed;
    // bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    background-color: transparent;
    animation: scrollPrompt 1s ease-out 1s 1 forwards;
    .material-icons{
        font-size: rem(48);
        color: var(--on-accent);
    }
    @keyframes scrollPrompt {
        0%{
            opacity: 40%;
            visibility: visible;
            bottom: rem(48);
        }
        100%{
            opacity: 100%;
            visibility: visible;
            bottom: 0;
        }
    }
}
.site-info{
    position: fixed;
    bottom: rem(8);
    left: rem(8);
    padding: rem(6);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--surface);
    color: var(--on-surface);
    border-radius: rem(4);
}
