@import 'functions';
section{
    width: 100%;
    min-height: 10vh;
}
#introduction{
    height: rem(600);
    text-align: justify;
    .half .row-reverse{
        width: 100%;
        .glyph{
            width: rem(32);
            height: rem(32);
        }
    }   
}
#resume{
    background-color: var(--accent);
    color: var(--on-accent);
    .quarter .material-icons-outlined{
        font-size: rem(32);
    }
}
details{
    line-height: 1.5;
    padding: rem(8) 0;
    text-align: justify;
    summary{
        text-align: left;
    }
}

