@import 'functions';
section{
    width: 100%;
}

@media screen and (min-width: 1200px) {
    #summary{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(32);
        padding: rem(32);
        min-height: 60vh;
        text-align: justify;
        #bio{
            max-width: rem(600);
            justify-self: end;
            margin-right: rem(18);
            .title-1{
                margin-bottom: rem(24);
            }
            .body-1{
                margin-bottom: rem(16);
            }
            .row-reverse{
                width: 100%;
                .glyph{
                    width: rem(32);
                    height: rem(32);
                    margin-left: rem(12);
                    cursor: pointer;
                }
            }  
        }
        #headshot{
            .image{
                max-width: rem(600);
                height: 100%;
                justify-self: start;
                margin-left: rem(18);
            }
        } 
    }
    #details{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: rem(32);
        padding: rem(32);
        min-height: 40vh;
        background-color: var(--accent);
        color: var(--on-accent);
        section .material-icons-outlined{
            width: 100%;
            text-align: center;
            font-size: rem(36);
            cursor: default;
        }
        .subtitle-2{
            margin-bottom: rem(18);
        }
        .body-2{
            line-height: 1.5;
            text-align: justify;
        }
    }
}

@media screen and (min-width: 700px) and (max-width: 1199px) {
    #summary{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(32);
        padding: rem(32);
        min-height: 60vh;
        text-align: justify;
        #bio{
            max-width: rem(600);
            justify-self: end;
            margin-right: rem(18);
            .title-1{
                margin-bottom: rem(24);
            }
            .body-1{
                margin-bottom: rem(16);
            }
            .row-reverse{
                width: 100%;
                .glyph{
                    width: rem(32);
                    height: rem(32);
                    margin-left: rem(12);
                    cursor: pointer;
                }
            }  
        }
        #headshot{
            .image{
                max-width: rem(600);
                height: 100%;
                justify-self: start;
                margin-left: rem(18);
            }
        } 
    }
    #details{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: rem(32);
        padding: rem(32);
        min-height: 40vh;
        background-color: var(--accent);
        color: var(--on-accent);
        section .material-icons-outlined{
            width: 100%;
            text-align: center;
            font-size: rem(36);
            cursor: default;
        }
        .subtitle-2{
            margin-bottom: rem(18);
        }
        .body-2{
            line-height: 1.5;
            text-align: justify;
        }
    }
}

@media screen and (max-width: 699px) {
    #summary{
        display: grid;
        grid-template-rows: repeat(2, max(1fr));
        min-height: 60vh;
        text-align: justify;
        #bio{
            grid-row: 2 / 3;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: rem(18);
            .title-1{
                width: 100%;
                font-size: rem(28);
                margin-bottom: rem(16);
            }
            .body-1{
                margin-bottom: rem(8);
            }
            .row-reverse{
                .glyph{
                    width: rem(36);
                    height: rem(36);
                    margin: rem(12) rem(8);
                    cursor: pointer;
                }
            }  
        }
        #headshot{
            grid-row: 1 / 2;
            .image{
                width: 100%;
                height: 30vh;
                border-radius: 0;
                box-shadow: none;
            }
        } 
    }
    #details{
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        gap: rem(32);
        padding: rem(32);
        min-height: 60vh;
        background-color: var(--accent);
        color: var(--on-accent);
        section .material-icons-outlined{
            width: 100%;
            text-align: center;
            font-size: rem(36);
            cursor: default;
        }
        .subtitle-2{
            margin-bottom: rem(18);
        }
        .body-2{
            line-height: 1.5;
            text-align: justify;
        }
    }
}

