@import 'functions';

.title-1, .tile-2{
    margin-bottom: rem(18);
    line-height: 1.5;
}
.subtitle-1, .subtitle-2{
    margin-bottom: rem(12);
    line-height: 1.5;
}
.body-1, .body-2{
    margin-bottom: rem(8);
    line-height: 1.5;
}

.progressbar{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    height: rem(4);
    background-color: var(--accent);
    animation-name: progress;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes progress{
    0% {
        left: 0;
        right: 100vw;
    }
    50%{
        left: 0;
        right: 0;
    }
    100%{
        left: 100vw;
        right: 0;
    }
}

.menubar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: rem(48);
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    background-color: var(--background);
    a{
        vertical-align: middle;
        margin: 0 rem(8);
        padding: rem(6);
        color: var(--accent);
        text-decoration: none;
        cursor: pointer;
        &:hover{
            border-bottom: solid rem(2) var(--accent);
        }
    }
    .active{
        background-color: var(--accent);
        color: var(--on-accent);
        border-bottom: solid rem(2) var(--accent);
        &:hover{
            background-color: var(--accent-highlight);
            color: var(--on-accent);
        }
    }
}

.scroll-prompt{
    position: fixed;
    // bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    background-color: transparent;
    animation: scrollPrompt 1s ease-out 1s 1 forwards;
    .material-icons{
        font-size: rem(48);
        color: var(--on-accent);
    }
    @keyframes scrollPrompt {
        0%{
            opacity: 40%;
            visibility: visible;
            bottom: rem(48);
        }
        100%{
            opacity: 100%;
            visibility: visible;
            bottom: 0;
        }
    }
}
