@import 'functions';

main{
    margin-top: rem(48);
}

#progressbar{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    height: rem(4);
    background-color: var(--accent);
    animation-name: progress;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes progress{
    0% {
        left: 0;
        right: 100vw;
    }
    50%{
        left: 0;
        right: 0;
    }
    100%{
        left: 100vw;
        right: 0;
    }
}

#menubar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: rem(48);
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    background-color: var(--background);
    box-shadow: var(--shadow--2);
    a{
        vertical-align: middle;
        margin: 0 rem(8);
        padding: rem(6);
        color: var(--accent);
        text-decoration: none;
        cursor: pointer;
        &:hover{
            border-bottom: solid rem(2) var(--accent);
        }
    }
    .active{
        background-color: var(--accent);
        color: var(--on-accent);
        border-bottom: solid rem(2) var(--accent);
        &:hover{
            background-color: var(--accent-highlight);
            color: var(--on-accent);
        }
    }
}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--accent);
    color: var(--on-accent);
    padding-top: rem(36);
    .material-icons-outlined{
        padding: rem(12);
        font-size: rem(24);
        cursor: pointer;
    }
}
