@import 'functions';
@import 'theme';
@import 'buttons';
@import 'inputs';


main{
    .banner{
        background-color: grey;
        background-image: url('../assets/banner-image.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: calc(100vh);
        margin: 0;
        padding: 0;
        .overlay{
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: rem(350);
            height: 100%;
            .spacer{
                flex-grow: 1;
            }
            .title-1, .subtitle-1{
                margin: rem(16) 0;
            }
            .action-items{
                display: flex;
                flex-direction: row-reverse;
            }
        }
    }
    .footer{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 100%;
        height: rem(52);
        margin: 0;
        .material-icons{
            opacity: 60%;
        }
    }
}

@media screen and (max-width: 599px) {
    article{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        section{
            width: 100%;
            padding: rem(16);
            .text{
                width: 100%;
                min-height: rem(100);
                margin: rem(8) 0;
                .body-1, .body-2{
                    line-height: 1.5;
                    margin: rem(16) 0;
                }
            }
            .image{
                width: 100%;
                min-height: rem(200);
                margin: rem(8) 0;
            }
            .video{
                width: 100%;
                min-height: rem(200);
                margin: rem(8) 0;
            }
            .collage{
                display: flex;
                flex-direction: column;
                *{
                    width: 100%;
                    margin: rem(8) 0;
                }
            }
        }
        aside{
            display: none;
        }
    }
}

@media screen and (min-width: 600px) {
    article{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, minmax(rem(200), 1fr));
        width: 100%;
        max-width: rem(1400);
        section{
            grid-column: span 4;
            padding: rem(16);
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: rem(16);
            .text{
                grid-column: span 2;
                .body-1, .body-2{
                    line-height: 1.75;
                    margin: rem(16) 0;
                }
            }
            .image{
                grid-column: span 2;
                background-color: grey;
            }
            .video{
                grid-column: span 2;
            }
        }
    }
}
